# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.sqlite3

# Node & Next.js
node_modules/
.next/
out/
.turbo/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Logs
.DS_Store
*.log
.wrangler/
